<!-- google map -->

<main ng-controller="ArticleController as articleCtrl">

  <div ng-repeat = "article in articleCtrl.articles">
    <h3><a href="">{{article.location}}</a></h3>
    <span>{{article.user}}</span>
  </div>

</main>
