
<main ng-controller="ArticleController as articleCtrl">

<form ng submit = "articleCtrl.createArticle()">
  <input type = "text" ng-model = "articleCtrl.newArticleBody">
  <input type = "submit" >
</form>

</main>
