<!-- google map -->
There is stuff here... well not yet!

<main ng-controller="ArticlesController as articleCtrl">

  <div ng-repeat = "article in articleCtrl.articles">
    <span>  Location: {{article.location}} </span> </br>
    <span>  Body: {{article.body}} </span> </br>
    <span>  Visited by: {{article.user_id}} </span></br>
      <span> Comments: </span>
      <span ng-repeat = "comment in article.comments">
        <span>{{comment.body}} by {{comment.user_id}}</span></br>  </span> </br>
  <div ng-controller="CommentsController as commentCtrl">
  <form ng-submit="commentCtrl.createComment()">
        <input type="text" ng-model="commentCtrl.newCommentBody"/>
        <br/>
        <input type="submit" value="Submit!" />
        <br/>
        <br/>
    </form>
  </div>
  <hr>
  </div>

</main>
