
<main ng-controller="ArticlesController as articleCtrl">


<form ng-submit = "articleCtrl.createArticle()">

  <br><hr><br>
  <textarea type="text" ng-model = "articleCtrl.newArticle.body" placeholder="Article Body"></textarea><br><br>


  <input type="text" ng-model = "articleCtrl.newArticle.location"
  placeholder="Location" id="nameofplaceID"/><br><br>

  <input type="text" ng-model = "articleCtrl.newArticle.latitude"
   placeholder="Latitude" id="latitueID"/><br><br>

  <input type="text" ng-model = "articleCtrl.newArticle.longitude"
  placeholder="Longitude" id="longitudeID"/><br><br>

  <input type="date" ng-model = "articleCtrl.newArticle.date_traveled" placeholder="date traveled"/><br><br>


  <input type = "submit" />
</form>

</main>
