
<main>
  <form ng-submit = "articleCtrl.createArticle()">

    <input type = "text" ng-model = "articleCtrl.newArticle.body"
    placeholder="Your Travel Memory"/>
    <input type="text"   ng-model = "articleCtrl.newArticle.location"
      placeholder="Location"/>
    <input type="text"   ng-model = "articleCtrl.newArticle.latitude"
      placeholder="Latitude"/>
    <input type="text"   ng-model = "articleCtrl.newArticle.longitude"
      placeholder="Longitude"/>

    <input class="search" places-auto-complete types="['geocode']" on-place-changed="findLocation()"/>

    <input type = "text" ng-model = "articleCtrl.newArticle.body"
      placeholder="Travel Tip"/>

    <input  type="date"  ng-model = "articleCtrl.newArticle.date_traveled"
      placeholder="date traveled"/>
    <input type = "submit" />
  </form>

  <ng-map id="map" center="40, -79" zoom=5 zoom-to-inlude-markers="true" zoom-control="true" style="display:block, height:400px;">

  </ng-map>

</main>
