<main>
  <form ng-submit = "articleCtrl.createArticle()">
    <input type = "text" ng-model = "articleCtrl.newArticle.body"/>
    <input type="text"   ng-model = "articleCtrl.newArticle.location"
      placeholder="Location"/>
    <input type="text"   ng-model = "articleCtrl.newArticle.latitude"
      placeholder="Latitude"/>
    <input type="text"   ng-model = "articleCtrl.newArticle.longitude"
      placeholder="Longitude"/>
    <input  type="date"  ng-model = "articleCtrl.newArticle.date_traveled"
      placeholder="date traveled"/>
    <input type = "submit" />
  </form>
</main>
