* {
font-family: 'Arapey', serif;
  box-sizing: border-box;
  margin: 0px;
}
body {
  width: 80%;
  /*background-color: #E7E7E7;*/
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 2em;
}


 .linkbutton {
     font: 11px;
     text-decoration: none;
     background-color: #EEEEEE;
     color: #333333;
     padding: 2px 6px 2px 6px;
     border-top: 1px solid #CCCCCC;
     border-right: 1px solid #333333;
     border-bottom: 1px solid #333333;
     border-left: 1px solid #CCCCCC;
    min-height: 30px;
      min-width: 100px;
}
/*
.articledisplay {
  background: rgba(185, 194, 169, .4);
}*/
form, input {
  display: inline-block;
}
#nav {
  margin: 2%;
  display: flex;
   justify-content: space-between;
}

#artloc {
    margin-left: 10%;
    margin-top: 15%;
    font-size: 1.75em;
}
#artbody {

}
#artvisit {

}
header {
  padding-left: 5%;
  padding-right: 5%;
  background: white;
  color: black;
  text-align: center;
  border-radius: 25px;
  border-style: ridge;
  width: 80%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 150;
}
.container {
margin-left: 5%;
margin-right: 5%
}

.hidden {
  display:none;
}

#spacer {
margin-top: 80px;
}
