* {
  font-family: 'Arapey', serif;
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-image: url('/images/bg.png');
  -webkit-font-smoothing: subpixel-antialiased;
}
.container {
  background-color: rgba(171, 80, 1, 0.3);
  margin-left: 5%;
  margin-right: 5%;
}
header {
  background-image: url('/images/navbg.png');
  opacity: .5;
  padding-left: 5%;
  padding-right: 5%;
  color: black;
  text-align: center;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  width: 100%;
  height: 5em;
}
b {
  color: red;
}

#search    {
  border-radius: 1px;
  width: 30em;
  height: 2.5em;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
font-size: 1em;
}
#expiry {
  border-radius: 1px;
  width: 15em;
  height: 2.5em;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
font-size: 1.2em;
text-align: justify;
}

textarea {
border-style: ridge;
border-width: thin;
font-style: normal;
font-size: 1em;


}
footer {
background-image: url('/images/navbg.png');
border-style: solid;
width: 90%;
height: auto;
font-size: 1em;
justify-content: space-around;
display: inline-flex;
}
.git {
  opacity: .3;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: black;
  margin:10px;
  transition: all 1s ease;
}
.git:hover {
  opacity: 1;
}

.navcontainer {
  width: 100%;
  display: inline-flex;
  /*overflow: hidden;*/
  justify-content: space-between;
  background-color: rgba(200, 200, 200, 0.5);
  text-align: center;
  border-radius: 3px;
  border-style: solid;
  height: 2.25em;
  padding-left: 3%;
  padding-right: 3%;
  z-index: 2;
  border-style: solid;
  border-width: thin;
  transition: all 2.5s ease;

}

.sticky {
  position: fixed;
  top: 0;
  width: 50%;
  min-width: 25em;
  margin-left: 25%
}

h2 {
  font-size: 2em;
}

.linkbutton {
  text-transform: uppercase;
  font-size: 1em;
  overflow: hidden;
  text-decoration: none;
  background: linear-gradient(#424242, #adadad);
  color: #333333;
  border-radius: 2px;
  color: #ffffff;
  border: solid #000000 1px;
  padding: .1em .3em .1em .3em;
  margin: .01em;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 1.8em;
  min-width: 4.5em;
  transition: all 1.0s ease;

}


.linkbutton:hover {
  background: #000000;
  cursor: pointer;
}

.welbutton {
  text-transform: uppercase;
  font-size: 1em;
  overflow: hidden;
  background-color: rgba(200, 200, 200, 0.5);

  text-decoration: none;
  color: #333333;
  border-radius: 2px;
  color: #ffffff;
  border: solid #000000 1px;
  padding: 4px 10px 4px 10px;
  margin: 2px;
  height: 1.8em;
  min-width: 4.5em;
  transition: all 1.0s ease;

}

.welbutton:hover {
  background: #000000;
  text-decoration: none;
  cursor: pointer;
}


form, input {
  display: inline-block;
}

#flashmessage {
  font-weight: bolder;
  font-size: 1.3em;
  text-shadow: 2px 2px 4px white;
}

.articles {
  padding: 1em;
}

#artloc {
  margin-left: 6.5%;
  margin-top: 15%;
  font-size: 1.75em;
}
#artbody {
}
#artvisit {

}

.hidden {
  display:none;
}

#spacer {
  margin-top: 80px;
}
