

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arapey', serif;
}
body {
  background: white !important;
}

#overflowhidder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  overflow: hidden;
}
/*Header*/
#header {
  text-align: center;
  height: 60px;
  background-color: rgba(255,255,255, .5)
}

#header h1 {
  margin-top: 5px;
  font-weight: 150;
}

/*Container*/

#container {
  width: 100%;
  margin: 0 auto;
}

input[type="checkbox"]{
  display: none;
}

input[value="play"]:checked ~ #slider figure {
  left: 0%;
  animation: 25s slidy infinite;
}

/*Slider*/

#slider {
  overflow: hidden;
}

#slider figure img {
  width: 25%;
  min-height: 900px;
  overflow:hidden;
  /*float: left;*/
}

#slider figure {
  position: absolute;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  z-index: -1;
  overflow:hidden;
}

/*Animation*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
}

/*Navigation*/

#navigation {
  display: none;
}

/*Form*/

.button {
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  background-color: white;
  border: 1px solid black;
  height: 20px;
  transition: .3s;
}

.button:hover {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.form-container {
  background: rgba(185, 194, 169, .3);
  padding: 1% 2%;
  width: 25%;
  min-width:300px;
  margin: auto;
  text-align: center;
  border: 8px outset rgba(183, 185, 171, .2);
  border-radius: 15px;
  z-index: 2;
  height: auto;
}
label.form-header{
  font-size: 1.25rem;
  margin: .8rem;
  color: #222;
}
label.form-header:hover {
  cursor: pointer;
}
.form-container h1 {
  font-size: 1.25rem;
  margin: .8rem;
}

input {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

label.form-label{
  display:block;
  padding: .5rem;
  margin: 3px;
  color: #444;
}
::-webkit-input-placeholder {
   color: #eee;
}

:-moz-placeholder { /* Firefox 18- */
   color: #eee;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #eee;
}

:-ms-input-placeholder {
   color: #eee;
}
input[type=text], input[type=email], input[type=password] {
    width: 90%;
    padding: 10px;
    border:2px solid #ccc;
    border-radius: 5px;
    background: rgba(185, 194, 169, .5);
  }

input[type=submit] {
    margin: .8rem;
    width: 90%;
    padding:10px;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
    background:rgba(184, 194, 169, .50);
    box-shadow: 1px 1px 10px 5px  #888888;
}

input[type=submit]:hover {
  background: rgba(185, 194, 169, .80);
  box-shadow: 2px 2px 10px 5px  #888888;
}



.hidden {
  display: none;
}
