<center>
  <footer>
    <a href="https://github.com/kaitlinwiener"><img class="git" src="/images/kwgit.png"></a>
    <a href="https://github.com/kkmerritt"><img class="git" src="/images/kmgit.png"></a>

    <h2>TRAVELOG</h2>
    
    <a href="https://github.com/Barbara518"><img class="git" src="/images/bzgit.png"></a>
    <a href="https://github.com/yoshinator"><img class="git" src="/images/yagit.png"></a>
  </footer>
